$header-height: 65px;

.generate-rows {
  margin: 10px;
  cursor: pointer;
  text-decoration: underline;
  &.active {
    text-decoration: none;
    cursor: text;
  }
  &:visited {
    color: inherit;
  }
}

.table {
  $border: #787878 1px solid;
  display: inline-block;
  user-select: none;
  vertical-align: top;
  .header {
    height: $header-height;
    border-top: $border;
    &:last-child {
      border-bottom: $border;
    }
    .column {
      display: inline-block;
      box-sizing: border-box;
      height: 100%;
      padding: 4px;
      border-left: $border;
      cursor: pointer;
      &:last-child {
        border-right: $border;
      }
      .column-label {
      }
      .column-filter {
        margin: 2px 0;
      }
    }
  }
  .row {
    border-top: $border;
    &:last-child {
      border-bottom: $border;
    }
    .cell {
      display: inline-block;
      box-sizing: border-box;
      height: 100%;
      padding: 4px;
      border-left: $border;
      &:last-child {
        border-right: $border;
      }
    }
  }
}

.scrollbars {
  margin-top: $header-height;
  display: inline-block;
}
