
.table {
  $border: #787878 1px solid;
  display: inline-block;
  .header {
    border-top: $border;
    &:last-child {
      border-bottom: $border;
    }
    .column {
      display: inline-block;
      box-sizing: border-box;
      padding: 4px;
      border-left: $border;
      &:last-child {
        border-right: $border;
      }
    }
  }
  .row {
    border-top: $border;
    &:last-child {
      border-bottom: $border;
    }
    .cell {
      display: inline-block;
      box-sizing: border-box;
      padding: 4px;
      border-left: $border;
      &:last-child {
        border-right: $border;
      }
    }
  }
}

.scrollbars {
  top: 9px;
  display: inline-block;
}
